@import "../../common/styles/templates.scss";

.slideImageWrapper {
  width: 100%;
  background-color: #000;
}

.slideImageInner {
  position: relative;
  padding-top: 56.25%;
  width: inherit;
}

.slideImage {
  @extend %abs-zero;
  width: inherit;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.slideImage:empty::after {
  @extend %flex-center;
  @extend %abs-zero;
  content: "Image not loaded";
  font: 400 2rem/1.5 Arial, sans-serif;
  background-color: #000;
  color: #fff;
  z-index: 99;
}
