.slideImageWrapper {
  width: 100%;
  background-color: #000;
}

.slideImageInner {
  position: relative;
  padding-top: 56.25%;
  width: inherit;
}

.slideImage {
  width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  object-position: center;
}

.slideImage:empty::after {
  background-color: #000;
  color: #fff;
  content: "Image not loaded";
  font: 400 2rem/1.5 Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
