body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: block;
}

.slider {
  min-width: 968px;
  max-width: 968px;
  min-height: 650px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

.current {
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
