.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidesWrapper {
  display: block;
}

.slider {
  min-width: 968px;
  max-width: 968px;
  min-height: 668px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.75s ease 0s;
}

.current {
  z-index: 10;
  opacity: 1;
  transition: opacity 0.75s ease 0s;
}
